.header {
    background-color: green;
    grid-area: h;
}

.header img {
    width: 20px;
}

.loginBlock {
    float: right;
    color: white;
    position: relative;
    top: 1rem;
    text-decoration: none;
}